canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#menu > * {
  flex: 1 1 auto;
}

#menu label,
#menu span {
  display: block;
  margin-bottom: 5px;
}

#menu select,
#menu button,
#menu input[type="range"] {
  width: auto;
  margin-bottom: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#menu select:hover,
#menu button:hover,
#menu input[type="range"]:hover {
  background-color: #555;
}

#menu select:active,
#menu button:active {
  background-color: #666;
}

#menu input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #555;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin-bottom: 0;
}

#menu input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff0000;
  cursor: pointer;
  border-radius: 50%;
}

#menu input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ff0000;
  cursor: pointer;
  border-radius: 50%;
}

#menu #hitCounter {
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
}
